name: labeler

on:
  push:
    branches:
      - mainline
    paths:
      - .github/config/labels.yml

jobs:
  modify-labels:
    runs-on: ubuntu-latest
    steps:
      -
        name: Checkout
        uses: actions/checkout@v3
      -
        name: Run Labeler
        if: success()
        uses: crazy-max/ghaction-github-labeler@v5.0.0
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          yaml-file: .github/config/labels.yml
          skip-delete: false
          dry-run: false
